<section class="hero has-background-black">
  <div class="hero-body">
    <nav class="navbar" role="navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item image is-64x128">
          <img src="/assets/gashop.png">
        </a>
          <a role="button" id="nav-burger" class="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
      </div>

      <div id="nav-menu" class="navbar-menu has-text-black is-5-tablet is-4-desktop is-3-widescreen">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Acceuil
          </a>

          <a class="navbar-item">
            Tous les objets
          </a>

          <div class="navbar-item has-dropdown is-hoverable has-text-black">
              <a class="navbar-item">
                Figurines
              </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                One Piece
              </a>

              <a class="navbar-item">
                L'attaque des Titans
              </a>

              <a class="navbar-item">
                Naruto
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item">
                Tous
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable has-text-black">
            <a class="navbar-item">
              Cosmétiques
            </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              One Piece
            </a>

            <a class="navbar-item">
              L'attaque des Titans
            </a>

            <a class="navbar-item">
              Naruto
            </a>

            <hr class="navbar-divider">
            <a class="navbar-item">
              Tous
            </a>
          </div>
        </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/register" class="button is-info is-outlined">
                S'inscire
              </a>
              <a href="/login" class="button is-light">
                Se connecter
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<script type="text/javascript">
  document.getElementById("nav-burger").addEventListener ("click", toggleNav);
  function toggleNav() {
          var nav = document.getElementById("nav-menu");
          var className = nav.getAttribute("class");
          if(className == "nav-right nav-menu") {
              nav.className = "nav-right nav-menu is-active";
          } else {
              nav.className = "nav-right nav-menu";
          }
  }
</script>
